<form>
  <label for="title">Title</label>
  <input type="text" name="post[title]" id="title"><br>
  <label for="body">Body</label>
  <textarea name="post[body]" id="body"></textarea><br>
  <button class="submit">Post</button>
  </form>