<script type="application/javascript">
$(function(){

  $.ajax({
    url: "/posts",
    type: "GET",
    success: function(data){
       window.JR.initialize($(".sidebar"), $(".content"), data);
    }
  })
});
</script>

<body>
  <div class="sidebar">
  </div>
  <div class="content">
  </div>
</body>